/* CSS Document */

@font-face {
 font-family: MyCustomFont;
 src: url("font/segoeui.eot") /* EOT file for IE */
}
@font-face {
 font-family: MyCustomFont;
 src: url("font/segoeui.ttf") /* TTF file for CSS3 browsers */
}

div {
 font-family: MyCustomFont;
 src: url("font/segoeui.eot") /* EOT file for IE */
}
div {
 font-family: MyCustomFont;
 src: url("font/segoeui.ttf") /* TTF file for CSS3 browsers */
}



.this_body{
	margin:0px;
	padding:0px;
	font-family: MyCustomFont ,Verdana, Arial, sans-serif;
	font-size:15px;
	}
p{
	 }	
	
.header{
	height:75px;
	border-bottom:1px solid #F90;}

.inner_header{
	margin:0px auto;
	width:1000px;
	border-right:0px solid #000;
	border-left:0px solid #000;}
	
.logo_space{ 
	background-image:url(rebrand/components/web_logo.png);
	width:256px;
	height:57px;
	float:left;
	margin-top:9px;}

.nav_space{
	width:auto;
	border:0px solid #333;
	float:right;
	height:29px;
	margin-top:47px;
	text-align:right;
	}
	
.upper_nav{
	text-transform:uppercase;
	
	font-size:16px;
	
	
	text-decoration:none;
	color:#000;
	 
	padding-bottom:0px;
	bottom:0px;
	position: relative;
	
	}
	
.link_box{
	border:0px solid #666;
	height:25px;
	float:left;
	padding-left:10px;
	padding-right:10px;
	margin-left:2px;
	}
.link_box:hover{
	border-bottom: 3px solid #F60;}	
	
.link_box_selected{
	margin-left:2px;
	border:0px solid #666;
	height:25px;
	float:left;
	padding-left:10px;
	padding-right:10px;
	border-bottom: 3px solid #F60;}
	
		
.img_home_space{
	height:490px;
	border-bottom:3px solid #F30;
	background-image:url(rebrand/gif_3.gif);
	-moz-background-size:100% 100%;
    -webkit-background-size:100% 100%;
     background-size:100% 100%;
	margin:0px auto;
	width:960px;
	padding:20px;}	
	
.img_home_space_inner{
	width:1000px;
	border-left:solid 0px #333333;
	border-right:solid 0px #333;
	margin:0px auto;}
	
								
.home_phone_space{
	float:right;
	height:622px;
	width:289px;
	overflow:visible;
	background-image:url(rebrand/components/phone_canvas.png);
	border:0px solid #009;
	margin-top:30px;
	}
.mid_info{
	width:100%;}	
	
.mid_info_inner{
	margin:0px auto;
	width:1000px;
	border-left:1px solid #00F;
	border-right:1px solid #00F;}
	
.play_button{
	background-image:url(rebrand/components/play_store.png);
	height:60px;
	width:202px;
	float:left;
	margin-top:50px;
	margin-right:60px;
	
	}	
	
.windows_button{
	background-image:url(rebrand/components/win_8_store.png);
	height:61px;
	margin-top:50px;
	width:202px;
	float:left;}
.button_space{
	border:0px solid #333;
	float:left;
	width:700px;}		
	
.home_text_space{
	float:left;
	width:100%;
	border:0px solid #666;
	line-height:170%;
	}	
.link_1{ color:#06F;}
.link_1:hover{  text-decoration:underline;}
.link_2{ text-decoration:none;
color:#333;}
.link_2:hover{ text-decoration:underline; }

.button_1{ padding:8px 30px 8px 30px;
background-color:#F30;
border:0px  solid #FFF;
border-radius:3px;
font-size:16px;

text-decoration:none;
color:#FFF;
}

.button_1:hover{
	background-color:#D74600;
	cursor:pointer;}	

h1{
	color:#F30;
	font-size:18px;}
	h2{
	color:#F30;
	font-size:16px;}	
.down_img{
	background-image:url(rebrand/components/button_download.png);
	height:19px;
	float:left;
	width:19px;}	
	
.foota{
	float:left;
	width:100%;
	}	
.mini_social{ 
	width:1000px;
	margin:0px auto;
	height:60px;
	border:0px solid #333;}
	
.social_in_here{
	height:23px;
	width:475px;
	padding:3px;
	border:1px solid #09F;
	float:left;}	
	
.lower_foota{
	border-top:1px solid #F30;
	background-color:#F0F0F0;
	height:268px;}
.lower_foota_inner{
	margin:0px auto;
	width:1000px;
	padding-top:20px;
	font-size:14px;
	}
.content{
	width:100%;
	min-height:250px;
	margin-bottom:10px;}
	
.inner_content{
	padding-top:20px;
	width:1000px;
	margin:0px auto;}
.upper_info{
	background-color:#F0F0F0;
	height:57px;
	border-bottom:1px solid #CCC;}
.inner_upper_info{	
	width:1000px;
	margin:0px auto;
}							
.upper_info_head{
	float:left;
	margin-top:10px;
	color:#F30;
	font-size:20px;
	text-transform:capitalize;}
	
.upper_button_space{
	margin-top:10px;
	float:right;
	margin-left:20px;}	

.select_bus{
	background-image:url(rebrand/components/ic_bullet_hover.png);
	margin-left:10px;
	height:22px;
	width:22px;
	}	
.select_bus:hover{
	background-image:url(rebrand/components/ic_bullet.png);
	
	}	
.imgr{ 
width:200px;
height:42px;
margin:0px 0px 0px 0px;
}
.phone_screen{
	
	margin-left:20px;
	margin-top:10px;
	float:left;
	width:242px;
	
	
	
	padding:20px 20px 20px 20px;
	border-radius:10px;
	border:2px solid #999;
	background-color:#D7D7D7;
	opacity:0.9;
  filter:alpha(opacity=90); /* For IE8 and earlier */
	
	
	}
.royal_form{
	background-color:#F0F0F0;
	border-radius: 5px;
	padding:20px 20px 20px 20px;
	float:left;
	margin-top:10px;}
.royal_1{
	border-radius:3px;
	width:315px;
	height:30px;
	padding:3px;
	border:1px solid #CCC;
	color:#666;
	font-family: MyCustomFont ,Verdana, Arial, sans-serif;
	font-style:italic;
	margin-top:10px;
	}		
		
#map1{
	float:right;}	
#link_3{ color:#F30; text-decoration:none;}	
#link_3:hover{ text-decoration:underline;}

#link_4{ color:#F30; text-decoration:none;}	
#link_4:hover{ text-decoration:underline;}		

#contact{
	border:0px solid #666;
	float:left;
	width:200px;
	 margin-bottom:1px;
	margin-right:30px;
	padding-left:15px;
	}
#contact_1{
	border:0px solid #666;
	float:left;
	width:400px;
	  margin-bottom:1px;
	margin-right:30px;
	padding-left:40px;
	}
#contact:hover,#contact_1:hover{
	background-color:#E2E2E2;}	

#blog_inc{ color:#000; text-decoration:none;}
#blog_act,#blog_inc:hover{ color:#000; text-decoration:underline;}	