/* 
    Document   : social
    Created on : Jul 4, 2012, 12:17:53 AM
    Author     : EVANSON
    Description: css for the social icons 
        Purpose of the stylesheet follows.
*/

.maile{
position:absolute;
left:76%;
top:115px;
width:40px;
height:30px;
background-image:url('booking_components/mail.png');
}

.maile:hover{
background-image:url('booking_components/mail_select.png');
cursor:pointer;

}

.twittere{
position:absolute;
left:80%;
top:110px;
width:40px;
height:35px;
background-image:url('booking_components/twitta.png');
}
.twittere:hover{
background-image:url('booking_components/twitta_select.png');
cursor:pointer;
}


.facebooke{
position:absolute;
left:84%;
top:110px;
width:30px;
height:30px;
background-image:url('booking_components/fb.png');
}

.facebooke:hover{
background-image:url('booking_components/fb_select.png');
cursor:pointer;
}

