@charset "utf-8";

#td
{

}
#my_bus{
	border-collapse:collapse;
	
	}

#seat_aval{
		
		color:black;
		margin:0px auto;
		display:block;
		background-image:url(../rebrand/components/seat_available.png);
		background-position:center;
		background-repeat:no-repeat;
		height:37px;
		width:37px;
		vertical-align:middle;
		margin-bottom:4px;
		 
		

		
		}
		
		
			#seat_aval:hover{
		 
			color:white;
			background-image:url(../rebrand/components/seat_clicked.png);
		
		}
		#linky {
			color:black;
			text-decoration:none;
			display:block;
			height:37px;
			width:37px;
			vertical-align:middle;
			 
			
			
			
  text-align: center;
  vertical-align: middle;
  /* fallback for non-Flexbox browsers */
  display: inline-block;
  /* Flexbox browsers */
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  /* vertical centering for legacy, horizontal centering for modern */
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* modern Flexbox only */
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /* legacy Flexbox only */
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
 
			}
			#linky:hover{
			color:white;
			}
		
		
#a{
	color:black;
		display:block;
		background-image:url(../rebrand/components/seat_booked.png);
		background-position:center;
		background-repeat:no-repeat;
		height:37px;
		width:37px;
		padding-top:26px;
		margin:0px auto;
		margin-bottom:4px;
		
	
	}
	
	#baasi{
		background-color:#E6E6E6;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	border:1px solid #CCC;
	text-align:center;
	
	padding-left:2px;
	
	}