body {
	margin: 0px;
	padding: 0px;
	background: #FFFFFF url(../img/blue_tile.jpg) repeat-x top;	
}

#main_holder {
	text-align: left;
}

ul {
	list-style: url(../img/list_bullet.jpg);
}

#mainbody p {
	text-align: justify;
}

em {
	color: #4CA1D8;
}

div, h1 {
	margin: 0px;
	padding: 0px;
}

#pageheading {
	background: url(../img/header.jpg) no-repeat left;
	text-indent: -5000px;
	height: 169px;
	width: 770px;
}

#mainbody {
	padding-left: 180px;
	padding-right: 30px;
}

#menu_list {
	float: left;
	list-style: none;
	margin: 20px 0px 0px 5px;
	padding: 0px;
}

#menu_list li {
	display:inline;
}

#menu_list a {
	text-decoration: none;
	font-weight: bold;
	color: #4CA1D8;
	background: url(../img/menu_back.png) no-repeat left top;
	padding-left: 30px;
	display: block;
	margin:5px 0 0 0;
	line-height: 23px;
}

#menu_list a:hover {
	background: url(../img/menu_back.png) no-repeat left bottom;
	color: #6CB8E9;
}

h1, h2, h3, h4, h5, h6 {
	color:#4CA1D8;
}

h2, h3 {
	font-weight:normal;
}

h1, h2, h3, h4, h5, h6, p, li, div {
	font-family: Arial, Helvetica, sans-serif;	
}

hr {
	background: #4CA1D8;
	color: #4CA1D8;
	border: 1px solid #4CA1D8;
}

#footer {
	color: #4CA1D8;
	font-size:small;
	margin:15px 0 0 0;
	text-align:center;
}

#function_description {
	background: #F7F7F7;
	border: 1px solid #EAEAEA;
	padding: 10px;
	margin-top: 10px;
}

#function_description ul {
	margin: 0;
	padding: 0;
	list-style:none!important;
	list-style-image: none!important;
}

#function_description ul li {
	margin-bottom: 10px;
}

#function_search_form {
	background: #F7F7F7;
	border: 1px solid #EAEAEA;
	padding: 10px;
}

#function_name {
	width: 250px;
}

#search_button {
	background: #FFF url(../img/search.png) no-repeat right center;
	padding:0 25px 0 0;
}

div.autocomplete {
      top:200px;
	  position:absolute;
      width:250px;
      background-color:yellow;
      border:1px solid #888;
      margin:0px;
      padding:0px;
}
	
div.autocomplete ul {
	list-style:none!important;
	list-style-image:none!important;
	margin:0px;
	padding:0px;
}

div.autocomplete ul li.selected {
	background-color: #B9DAF0;
}

div.autocomplete ul li {
	font-size: small;
	list-style-type:none;
	display:block;
	margin:0;
	padding:2px;
	cursor:pointer;
}