/* CSS Document */

#whole{
font-family:Arial, Helvetica, sans-serif;
padding:0px;
margin:0 0 0 0;


}

#header{
	height:98px;
	
	margin:0px;
	padding:0px;
	width:100%;
    background-image:url('images/topper.jpg');
    background-repeat:repeat-x;
	padding-top:0px;
	padding-bottom:0px;

	}
	
#in_header{
	margin: 0 auto;
	width:960px;
	border:0px solid #000;
	height:93px;
	
	}
		
#logo{
	float:left;
	}

#top_menu{
float:right;
padding-top:0px;
padding-right:2px;
	}
	
#a1{
text-decoration:none;
color:inherit;
color:#000; /* fix IE blue color*/
text-shadow: 0px 1px 0px #ccc;
}

#a1:hover{
	text-decoration:none;
	
	
color:#06C;
text-shadow: 0px 1px 1px #fff;
}

#selected{
	text-decoration:none;
color:inherit;
color:#06C;
text-shadow: 0px 1px 1px #fff;

	
	}
#slide_show{
	
	width:100%;
	height:600px;
	background-image:url('images/strip2.png');
    background-repeat:repeat-x;
	border-bottom:2px solid #999;
	padding-top:12px;
	padding-bottom:7px;
	margin:0px auto;
	
	}
	
	
	#phoenixia{
	
	width:100%;
	height:700px;
	background-image:url('images/strip2.png');
    background-repeat:repeat-x;
	border-bottom:2px solid #999;
	padding-top:0px;
	padding-bottom:0px;
	
	}
	
	
	#content_outer{
	
	width:100%;
	padding-top:40px;
	padding-bottom:40px;
	
	background-image:url('images/strip2.png');
    background-repeat:repeat-x;
	border-bottom:2px solid #999;
	
	
	}
	
	
	#content{
		margin: 0 auto;
		width:960px;
		
	}
	
	#page_head{
		
		height:30px;
		width:700px;
		border: 0px solid #000;
		margin-bottom:10px;
		}
	
	#mainn_content{
		height:auto;
		background-color:#FFF;
		border:0px solid #666;
		padding:30px;
		
		width:650px;
		min-height:400px;
		-moz-box-shadow:    3px 3px 5px 6px #ccc;
  		-webkit-box-shadow: 3px 3px 5px 6px #ccc;
  		box-shadow:         3px 3px 5px 6px #ccc;
  
 
}




.box
{
       
	  min-width:710px;
		min-height:400px;
        position: relative;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.06) inset;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.06) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.06) inset;
        margin-bottom:50px;
        z-index:1;
		background-color:#FFF;
}


#main_contentt{
	padding:30px;
	margin: 0px;
	width: 91.6%;
	min-height:400px;
	background-color:#FFF;
	}
#main_content{
height:auto;
		background-color:#FFF;
		border:0px solid #666;
		padding:30px;
		
		width:900px;
		min-height:400px;
		
	}	

.box:before, .box:after
{
        content: '';
        z-index: -1;
        position: absolute;
        left: 11px;
        bottom: 15px;
        width: 80%;
        max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
        max-height: 100px;
        height: 55%;
        -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
        -webkit-transform: skew(-15deg) rotate(-6deg);
        -moz-transform: skewX(-15deg) rotate(-6deg);
        -moz-transform: skew(-15deg) rotate(-6deg);
        -ms-transform: skew(-15deg) rotate(-6deg);
        -o-transform: skew(-15deg) rotate(-6deg);
        transform: skew(-15deg) rotate(-6deg);
}
.box:after
{
        left: auto;
        right: 11px;
        -webkit-transform: skew(15deg) rotate(6deg);
        -moz-transform: skewX(15deg) rotate(6deg);
        -moz-transform: skew(15deg) rotate(6deg);
        -ms-transform: skew(15deg) rotate(6deg);
        -o-transform: skew(15deg) rotate(6deg);
        transform: skew(15deg) rotate(6deg);
}





		#main_content_full_width{
		height:auto;
		background-color:#FFF;
		border:0px solid #666;
		padding:30px;
		
		width:900px;
		min-height:400px;
		
 
		
		
		}
		
		
#main_content_billapadding{
		padding:0px;
	margin: 0px;
	width: 91.6%;
	min-height:400px;
	background-color:#FFF;
  
 
		
		
		}
	
	#sidebar_content{
		
	background-color:#FFF;
		border:0px solid #666;
	width:208px;
	height:240px;
	 margin-right:10px; 
	
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
	
	
		
		}
	
	
	
	#movie_slide{
		
	width:958px;
	
	height:435px;
	background-image:url('images/movie_slide.png');
    
	
	
	
		}
		
		#event_slide{
		
	width:958px;
	
	height:435px;
	background-image:url('images/event_slide.png');
    
		}
		
		#plane_slide{
		
	width:958px;
	
	height:435px;
	background-image:url('images/air_slide.png');
    
		}
		
		#stadium_slide{
	margin: 0px auto;
	color:#000;	
	width:1247px;
	height:596px;
	background-image:url(images/banna_free.png);
   
	
	
	
		}
	#info{
	
	width:100%;
	height:270px;
	border-bottom:2px solid #999;
	
	padding:0px;
	padding-top:10px;
	}
	#inside_info{
		margin: 0 auto;
	width:958px;
	border: 0px solid #000;
	height:263px;
		}
	
#info2{
	
	width:100%;
	height:275px;
	padding-top:25px;
	border-bottom:1px solid #999;
	}
	
	#inside_info2{
		margin: 0 auto;
	width:958px;
	border: 0px solid #000;
	height:263px;
		}
	
#social_container{
    border-top:1px solid #FFF;
	height:70px;
	
	margin:0px;
	padding:0px;
	width:100%;
    background-image:url('images/strip4.png');
    background-repeat:repeat-x;
	padding-top:0px;
	padding-bottom:0px;
    border-bottom:10px solid #616161;
	}
	#footer{
		width:100%;
	height:220px;
	background-color:#222222;
	 border-bottom:2px solid #000;
	}
	
	#lower{
		width:100%;
	height:90px;
	background-color:#222222;
		}
#lower_info{
	
	margin: 0 auto;
	width:960px;
	border:0px solid #000;
	height:30px;
	color:#FFF;
	overflow:hidden;
	padding-top:20px;
	text-align:center;
	font-size:15px;
	}
#links_container{
	margin: 0 auto;
	width:860px;
	
	height:190px;
	color:#FFF;
	overflow:hidden;
	padding-top:20px;
	text-align:left;
	font-size:15px;
	}
#link_headers{
	color:#06C;
	font-size:17px;
	
	
	}
#a2{
	color:#999;
	text-decoration:none;
	text-shadow: 0px 0px 0px #fff;
	}
	
#a2:hover{
	text-shadow: 0px 1px 1px #000;
	color:#FFF;
	}
#social_container_inner {
	height:50px;
	width:600px;
	
	margin: 0 auto;
	border: 0px solid black;
	
	
	}
#engraved_icons{
	float:right;
	margin-top:13px;
	text-decoration:none; 
	
	}
	
#beside_engraved{
	
	
	float:left;
	margin-top:19px;
	text-shadow: 0px 1px 0px #fff;
	}
#mailto{
	color:#000;
	text-decoration:none;
	
	}
#mailto:hover{
	color:#1F4DB8;
	text-shadow: 2px 0px 2px #fff;
	}
#lower_link_header{
	text-shadow: 1px 0px 0px black;
	}
#information{
	padding:10px;
	
	vertical-align:top;
	font-size:13px;
	text-align:justify;
	font-weight:300;
	}
	
	#information_2{
	padding:10px;
	padding-top:0px;
	vertical-align:top;
	font-size:15px;
	text-align:center;
	font-weight:300;
	}
#info_2_pics{
	text-align:center;
	}

#information_2_lower{
	padding:12px;
	padding-top:15px;
	vertical-align:top;
	font-size:15px;
	text-align:justify;
	font-weight:300;
	}
#mshop{
	
	color:#06C;
	text-decoration:none;
	
	}
#mshop:hover{
	color:#F00;
	text-shadow: 1px 0px 0px gray;
	}
#mtl{
	color:white;
	text-decoration:none;
	
	}
#mtl:hover{
	color:#FF3;
	text-shadow: 0px -1px 0px #000;
	}
	
#first_form{
	float:right;
	margin-top:44px;
	margin-right:140px;
	border: 1px solid #999;
	height:525px;
	width:410px;
	background-color:#E0E0E0;
	opacity: .75; /* standard: ff gt 1.5, opera, safari */
    -ms-filter: "alpha(opacity=75)"; /* ie 8 */
    filter: alpha(opacity=75); /* ie lt 7 */
    -khtml-opacity: .75; /* safari 1.x */
    -moz-opacity: .75; /* ff lt 1.5, netscape */
	
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
	padding-top:20px;
	padding-left:20px;
	
	
	}
#kali{
	border: 1px #900;
	background-color:#FFF;
	opacity: .75; /* standard: ff gt 1.5, opera, safari */
    -ms-filter: "alpha(opacity=75)"; /* ie 8 */
    filter: alpha(opacity=75); /* ie lt 7 */
    -khtml-opacity: .75; /* safari 1.x */
    -moz-opacity: .75; /* ff lt 1.5, netscape */
	width:100px;
	
	
	
	}
	#border{
		border-bottom: 1px dashed #666;
;
		
		}
	#long_select{
		
		 background: transparent;
   width: 403px;
   padding: 5px;
   
   border: 1px solid #ccc;
   height: 30px;
   
   background: url(images/select_image.png) no-repeat right ;
		
	}
	#long_select:hover{
		 border: 1px solid #FFF;
		 box-shadow: 0 0 3px 2px #06C;
  -webkit-box-shadow: 0 0 3px 2px #06C; 
  -moz-box-shadow: 0 0 3px 2px #06C;
}
	#short_select{
		
		 background: transparent;
   width: 170px;
   padding: 5px;
   
   border: 1px solid #ccc;
   height: 30px;
   background: url(images/select_image.png) no-repeat right ;
		
	}
	#short_select:hover{
		 border: 1px solid #FFF;
		 box-shadow: 0 0 3px 2px #06C;
  -webkit-box-shadow: 0 0 3px 2px #06C; 
  -moz-box-shadow: 0 0 3px 2px #06C;
}
	#traveldate{
		
		 background: transparent;
   width: 160px;
   
   padding: 5px;
   padding-top:0px;
   padding-bottom:0px;
   
   border: 1px solid #ccc;
   height: 30px;
		
	}
	#traveldate:hover{
		 border: 1px solid #FFF;
		 box-shadow: 0 0 3px 2px #06C;
  -webkit-box-shadow: 0 0 3px 2px #06C; 
  -moz-box-shadow: 0 0 3px 2px #06C;
}

	#traveldate_r{
		
		 background: transparent;
   width: 160px;
   
   padding: 5px;
   padding-top:0px;
   padding-bottom:0px;
   
   border: 1px solid #ccc;
   height: 30px;
		
	}
	#traveldate_r:hover{
		 border: 1px solid #FFF;
		 box-shadow: 0 0 3px 2px #06C;
  -webkit-box-shadow: 0 0 3px 2px #06C; 
  -moz-box-shadow: 0 0 3px 2px #06C;
}

#meduim_input{
		
		 background: transparent;
   width: 250px;
   padding-left:5px;
   padding-top:0px;
   padding-bottom:0px;
   
   border: 1px solid #ccc;
   height: 25px;
		
	}
	#meduim_input:hover{
		 border: 1px solid #FFF;
		 box-shadow: 0 0 3px 2px #06C;
  -webkit-box-shadow: 0 0 3px 2px #f00; 
  -moz-box-shadow: 0 0 3px 2px #f00;
}

	#next{
		width:182px;
		height:28px;
		background-image:url('images/next(2).png');
		
		}
#a7:link,#a7:visited
{
display:block;
width:31px;
height:31px;
background-image:url('images/unchecked.png');
}
#a7:hover,#a7:active{
background-image:url('images/checked.png');
}
.seat_link {


width:350px;
left:0px;

top:80px;

text-align:left;

}
.buslay{
right:0px;
top:30px;

}
#complete{
		width:182px;
		height:28px;
		background-image:url('images/complete.png');
		
}
#cancel{
		width:182px;
		height:28px;
		background-image:url('images/cancel.png');
		
		}	
#backy{
		width:182px;
		height:28px;
		background-image:url('images/back_button.png');
		
		}
#logout{
		width:182px;
		height:28px;
		background-image:url('images/logout.png');
		
		}	
#home{
		width:182px;
		height:28px;
		background-image:url('images/home.png');
		
		}
#options{
		width:182px;
		height:28px;
		background-image:url('images/options.png');
		
		}
		
#login{
		width:182px;
		height:28px;
		background-image:url('images/login.png');
		
		}
#email_submit{
		width:187px;
		height:32px;
		background-image:url('images/email_submit.png');
		
		}
		
#email_submit:hover{
		
		background-image:url('images/email_submit_hover.png');
		
		}
		
#starter{
		width:182px;
		height:28px;
		background-image:url('images/white.png');
		border: 0px solid white;
		 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
		
		}
		
#starter:hover{
	color:#000;
	background-color:#000;
	cursor:pointer;
		
		}
		
#drop_left{float:right;
  height:66px;
  width:271px;
	
}#drop_error{
		
		}
		
#drop_login{
	position:fixed;
	
	margin-top:0px;
	text-align:right;
	
	height:40px;
	width:250px;
	border: 0px solid #000;
	z-index:auto;
	
	

	
	}
#scroll{
width:880px;
height:250px;
overflow:scroll;
border: 1px solid #CCC;
padding:10px;
overflow-y:scroll;
overflow-x:hidden;
	
	}
#space{
	margin-top:40px;
	
	margin-left:60px;
	margin-bottom:40px;}
	
.initial{
	
   width: 150px;
   padding: 5px;
   background:url(images/white.png) repeat;
   
   
   border: 1px solid #ccc;
   height: 30px;
   background: url(images/select_image.png) no-repeat right ;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
		
	}
	.initial:hover{
		border:1px solid #FFF;
		
		}
.initial_2{
	
   width: 390px;
  
   padding: 5px;
   background:url(images/white.png) repeat;
   
   
   border: 1px solid #999;
   height: 35px;
   background: url(images/select_image.png) no-repeat right ;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
		
	}
.initial_3{
	width: 380px;
  
   padding: 5px;
   background:url(images/white.png) repeat;
   
   
   border: 1px solid #999;
   height: 25px;
  
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	}	
	.initial_2:hover{
		border:1px solid #666;	}
		
	#traveldate{
		
		 width: 140px;
   padding: 5px;
 border: 1px solid #ccc;
   height: 20px;
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
   
   }
   
   
   #long_country_code{
		
		 background: transparent;
   width: 290px;
   padding: 5px;
   
   border: 1px solid #ccc;
   height: 30px;
   background: url(images/select_image.png) no-repeat right ;
		
	}
	#long_country_code:hover{
		 border: 1px solid #FFF;
		 box-shadow: 0 0 3px 2px #f00;
  -webkit-box-shadow: 0 0 3px 2px #f00; 
  -moz-box-shadow: 0 0 3px 2px #f00;
}

 #actual_login_input{
		
		 background: transparent;
   width: 280px;
   padding: 5px;
   
   border: 1px solid #ccc;
   height: 20px;
   
		
	}
	#actual_login_input:hover{
		 border: 1px solid #FFF;
		 box-shadow: 0 0 3px 2px #f00;
  -webkit-box-shadow: 0 0 3px 2px #f00; 
  -moz-box-shadow: 0 0 3px 2px #f00;
}
#actual_login_form{
	
	padding:40px;
	
	border:1px solid #999;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	
	
	}
	#actual_login_form:hover{
	
	
	
	border:0px solid #999;
	 
		 box-shadow: 0 0 2px 2px #CCC;
  -webkit-box-shadow: 0 0 2px 2px #f00; 
  -moz-box-shadow: 0 0 2px 2px #f00;
	
	
	
	}
	
#long_input{
		
		 background: transparent;
   width: 500px;
   padding: 5px;
   
   border: 1px solid #ccc;
   height: 25px;
   margin-bottom:20px;
   

		
	}
	#long_input:hover{
		 border: 1px solid #FFF;
		 box-shadow: 0 0 3px 2px #f00;
  -webkit-box-shadow: 0 0 3px 2px #f00; 
  -moz-box-shadow: 0 0 3px 2px #f00;
}

#long_textarea{
		
		 background: transparent;
   width: 500px;
   padding: 5px;
   
   border: 1px solid #ccc;
   height: 200px;
   margin-bottom:20px;
   

		
	}
	#long_textarea:hover{
		 border: 1px solid #FFF;
		 box-shadow: 0 0 3px 2px #f00;
  -webkit-box-shadow: 0 0 3px 2px #f00; 
  -moz-box-shadow: 0 0 3px 2px #f00;
}
#home_page_button{
	width:195px;
	height:44px;
	border: 0px solid #CCC;
	background-image:url(images/search_bus.png);}
#home_page_button:hover{
	background-image:url(images/search_bus_hover.png);
	cursor:pointer;}	
	
	
#how_it_works{
	text-decoration:underline;
	color:#06C;
	margin-right:20px;
	
	}
#how_it_works:hover{
	color:#F00;
	
	}	

	
	
	
	