/* CSS Document */


#tops{
background-color:gray;
position: absolute;
width:100%;
height:20px;
top:0px;
margin:0px;
right:0px;
}



.all{
	
	margin:auto;
	margin-top:140px;
    
	width:980px;
	height:350px;
	border: 3px gray solid;
	}


.form1{
	width:630px;
	height:100px;
	border:thin;
	padding-left:20px;
    border: 2px gray solid;
padding-bottom:10px;
	padding-top:10px;
	margin-bottom:10px;
	
	}
	#re{
		border: 2px gray solid;
		
		top:80px;
		height:30px;
		width:360px;
		}
		
		#ree{
		border: 2px gray solid;
		height:30px;
		width:360px;
		}
	
	
	
	
	
	.form2{
		margin-top:40px;
	width:630px;
	height:100px;
	border:thin;
	float:left;
    border: 2px gray solid;
	padding:20px;
	
	}
	.sub{
		
		float:right;
		margin-right:100px;
		margin-top:40px;
		
		}
		#subbb{
			background-color:#CCC;
			border: 2px gray solid;
			width:70px;
			height:30px;
			
			
		
			}
			
input[type="text"]
{
 width: 200px; 
 height: 30px; 
display:block;
margin-bottom:10px;



}

#flights{
	
	width:630px;
	height:100px;
	border:thin;
	float:left;
    border: 0px gray solid;
	padding:20px;
	
	}
