
/*web styles */
.topbg {
	background-color:#666;
	top:0;
	left:0;
	width:100%;
	height:40px;
	position:absolute;
}

#content {
top: 45px;	
position:absolute;

}
.logo {
	position:absolute;
	background: url(../images/mshoplogo.png)  left no-repeat;
	float:left;
	width:271px;
	height:98px;
	left:100px;
	border:0;
}
#midsection {
	position:absolute;
	top:140px;
	background: url(../images/red_bg_strip.png)  left repeat-x;
	height:269px;
	width:1700px;
	left:0;
	margin-left:0px;
	float:left;
}

#midlogin {
	position:absolute;
	top:0px;
	background: #666;
	min-height:240px;
	height:240px;
	width:950px;
	left:130px;
	margin-left:0px;
	margin-top:0;
	padding:30px;
	float:left;
}

#imagsection {
	position:absolute;
	top:390px;
	background: url(../images/red_bg_strip.png)  left repeat-x;
	height:269px;
	width:1700px;
	left:0;
	margin-left:0px;
	float:left;
}


#lfooter {
	position:absolute;
	top:690px;
	background: #000;
	height:240px;
	width:100%;
	left:0;
	margin-left:0px;
	float:left;
}
#reglink {
	
}
#reglink a:link, #reglink a:visited {
	color:#F51900;
	
}