

.topbg{
background-color:gray;
position: absolute;
width:100%;
height:40px;
top:0px;
margin:0px;
right:0px;
}

.logo{
position:absolute;
left:11%;
top:55px;

}




.ban{
position:absolute;
width:100%;
top:200px;
right:0px;
background-image:url('ban.png');
background-repeat:repeat-x;

}

.mail{
position:absolute;
left:76%;
top:150px;
width:40px;
height:30px;
background-image:url('booking_components/mail.png');
}

.mail:hover{
background-image:url('booking_components/mail_select.png');
cursor:pointer;

}

.twitter{
position:absolute;
left:80%;
top:145px;
width:40px;
height:35px;
background-image:url('booking_components/twitta.png');
}
.twitter:hover{
background-image:url('booking_components/twitta_select.png');
cursor:pointer;
}


.facebook{
position:absolute;
left:84%;
top:145px;
width:30px;
height:30px;
background-image:url('booking_components/fb.png');
}

.facebook:hover{
background-image:url('booking_components/fb_select.png');
cursor:pointer;
}
.topper{
background-color:616161;
position: relative;
width:1030px;
height:20px;
top:192px;
margin-left:auto;
margin-right:auto;

}
.main{
background-color:D3D3D3;
position:relative;
width:1030px;
height:900px;
top:176px;
margin-left:auto;
margin-right:auto;

 
}
.lower_banner{
background-color:black;
position:absolute;
width:100%;
height:170px;
top:970px;
margin:0px;
right:0px;



}
.footer{
position:absolute;
left:73%;
top:0px;
}


.login{


width:440px;
background:#dcdcdc;
color:black;
height:500px;
float:right;
border-radius:10px;

}
.login_info{


width:460px;
background:white;
color:black;
height:300px;
float:left;



}


#link{
color:blue;
text-decoration:underline;

}

#link:hover{
color:red;

}

.tops{
margin:10px;
margin-right:30px;
float:right;

}

.menu{
position 

}

.content{

background-color:white;
position: relative;

height:592px;
top:10px;
width:1000px;
margin-left:auto;
margin-right:auto;
font-family: Verdana, Tahoma, Helvetica, Arial;

}


.form
{

position:absolute;
width:950px;
height:370px;
left:30px;
top:0px;
font-family: Verdana, Tahoma, Helvetica, Arial;



}

.nav{
position:absolute;
width:300px;
height:270px;
background-color:magenta;
left:40px;
top:70px;
font-family: Verdana, Tahoma, Helvetica, Arial;
}

.foota{

position:absolute;
width:1700px;
height:100px;
top:0px;
margin:0px;




}

#hallo{

width:200px;
border:1px solid gray;


}


#ul
{
list-style-type:none;
margin:0;
padding:0;
}




#a1:link,#a1:visited,#selected
{
display:block;

color:#FFFFFF;

width:300px;
text-align:left;
padding:13px;
text-decoration:none;

background-image:url('booking_components/button.png');
}
#a1:hover,#a1:active,#selected
{
color:red;
background-color:white;
background-image:url('booking_components/blank.png');
}






#a2:link,#a2:visited
{
display:block;

color:#FFFFFF;

width:300px;
text-align:left;
padding:13px;
text-decoration:none;

background-image:url('booking_components/button.png');
}
#a2:hover,#a2:active
{
color:red;
background-color:white;
background-image:url('booking_components/blank.png');
}





#a3:link,#a3:visited
{
display:block;

color:#FFFFFF;

width:300px;
text-align:left;
padding:13px;
text-decoration:none;

background-image:url('booking_components/button.png');
}
#a3:hover,#a3:active
{
color:red;
background-color:white;
background-image:url('booking_components/blank.png');
}




#a4:link,#a4:visited
{
display:block;

color:#FFFFFF;

width:300px;
text-align:left;
padding:13px;
text-decoration:none;

background-image:url('booking_components/button.png');
}
#a4:hover,#a4:active
{
color:red;
background-color:white;
background-image:url('booking_components/blank.png');
}







#a5:link,#a5:visited
{
display:block;

color:#FFFFFF;

width:300px;
text-align:left;
padding:13px;
text-decoration:none;

background-image:url('booking_components/button.png');
}
#a5:hover,#a5:active
{
color:red;
background-color:white;
background-image:url('booking_components/blank.png');
}



#a6:link,#a6:visited
{
display:block;

color:#FFFFFF;

width:300px;
text-align:left;
padding:13px;
text-decoration:none;

background-image:url('booking_components/button.png');
}
#a6:hover,#a6:active
{
color:red;
background-color:white;
background-image:url('booking_components/blank.png');
}






.inputtext {
 width: 350px; 
 height: 30px; 
 }

input[type="submit"]
{
display:block;
height:42px;
width:95px;
background-image:url('booking_components/login.png');
float:right;


}

input[type="submit"]:hover
{
display:block;


background-image:url('booking_components/login_focus.png');
float:right;
margin-left:20px;
cursor:pointer;
}







.table_div {

position:absolute;
width:100%;
left:40px;
right:100px;
top:30px;
font-family: Verdana, Tahoma, Helvetica, Arial;
text-align:left;
}


.table_seat {

position:absolute;
width:500px;
left:40px;
right:100px;
top:30px;
font-family: Verdana, Tahoma, Helvetica, Arial;
text-align:left;
}



.table {

position:absolute;
width:650px;
font-family: Verdana, Tahoma, Helvetica, Arial;
text-align:left;

}



.table_title{
font-family: Verdana, Tahoma, Helvetica, Arial;
text-align:left;
size:4;
}

#tr{
border-bottom-style:dotted;
}

#td
{
height:50px;
vertical-align:bottom;
border-bottom-style:dotted;
}


#a7:link,#a7:visited
{
display:block;
width:37px;
height:39px;
background-image:url('booking_components/select.png');
}
#a7:hover,#a7:active{
background-image:url('booking_components/selected.png');
}







