html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*img[width],img[height]{width:auto;height:auto;} wordpress hack to reset the attributes (while making responsive) */
body{
	font-family:Arial, Helvetica, sans-serif;
}
article{
	font-size:16px;
	color:#868686;
}
article,
article.underline{
	padding:20px;
	margin-bottom:0;
}
article.underline h2:first-child,
article.underline h1:first-child{
	margin-bottom:10px;	
}
article img{
	margin:10px 0;
}
a{ color:#c52525;}
a:hover{ color:#198585;}
/* headings */
h1, h2, h3, h4, h5, h6{
	font-weight:bold;
	color:#565656;
}
h1{
	font-size: 24px;
	margin:0 0 .2em 0;
}
h2{
	font-size: 18px;
	margin:0 0 .3em 0;
}
h3{
	font-size: 16px;
	margin:0 0 .4em 0;
}
h4{
	font-size: 14px;
}
h5, h6{
	font-size: 12px;
}
h4, h5, h6{
	margin:0 0 .6em 0;	
}
/* paragraph */
p{
	line-height:26px;
	margin:0 0 16px 0;
}
/* TextFormatting */
strong, b {
	font-weight: bold;
}
i, cite, em, var, address, dfn {
	font-style: italic;
}
small {
	font-size: smaller;
}
del {
	text-decoration: line-through;
}
ins {
	text-decoration: underline;
}
sup {
	vertical-align: super;
}
sub {
	vertical-align: sub;
}
sub, sup{
	font-size: smaller;	
}
code, kbd, samp, pre, .pre-text {
font-family: monospace;
}
q{
	display:inline;
}
q:before {
content: open-quote;
}
q:after {
content: close-quote;
}
address{
	line-height: 22px;
	margin:0 0 16px 0;
}
abbr[title]{
	border-bottom:1px dotted #565656;
}
/* blcokquote */
blockquote{
	margin:16px 0 16px 40px;
}
/* pre */
pre, .pre-text{
	display: block;
	white-space: pre;
	margin: 1em 0px;
}
/* HTMl lists */
ul,ol,dl{
	display: block;
	margin:1em 0 1em 0;
}
ul, ol{
	padding-left: 40px;	
}
ul{
	list-style-type: disc;
}
ol{
	list-style-type: decimal;
}
dt, dd{
	display: block;	
	margin:0 0 0.5em 0;
}
dt{
	font-weight: bold;
}
dd {
	margin-left: 2em;
}
form label{
	font-size:12px;
	margin-bottom: 0.4em;
}
form input[type=text],
form input[type=password]{
	width:180px;
	
}
form input[type=text],
form input[type=password],textarea{
	border:1px solid #ddd;	
}
form input[type=text],
form input[type=password],textarea{
	-webkit-appearance:none;
	-moz-appearance:none;
}
form input[type="radio"]{
	position:relative;
	top:1px;
}
form div{
	margin:0 0 0.8em 0;
}
form textarea{
	width:180px;
	height:80px;
}
.label-top label{
	display:block;
}
label.inline{
	display:inline-block;
}
form label span.red{
	color:#ff0000;
}
form input[type=submit]{
	border:1px solid #ddd;
	background:#fff;
	color:#767676;
	padding: 10px;
	margin:0;
	cursor: pointer;	
}


form input[type=button]{
	border:1px solid #ddd;
	background:#fff;
	color:#767676;
	padding: 10px;
	margin:0;
	cursor: pointer;	
}


.button{
	border:1px solid #ddd;
	background:#fff;
	color:#767676;
	padding: 10px;
	margin:0;
	cursor: pointer;	
}


form input[type=submit]{
	border:1px solid #ddd;
	background:#fff;
	color:#767676;
	padding: 10px;
	margin:0;
	cursor: pointer;	
}
/* -- header -- */
header{
	border-bottom:1px solid #eee;
	background:#f2f2f2;
}
.logo{
	padding:10px;
}
.logo img{
	display:block;
}
footer{
	border-top:1px solid #eee;
	background:#f2f2f2;
	color:#4d4d4d;
}
footer p{	
	font-size:12px;
	margin:0;
}
.copy{
	padding:10px;
}
.copy a{
	color:#c52525;
}
/* -- menu -- */
.menu{
}
.menu a{
	background:#f9f9f9;
	border-bottom:1px solid #eee;
	display:block;
	padding:15px;
	color:#767676;
	font-size:12px;
}
.menu a:hover{
	background:#fff;
}
header .menu{
	border-top:1px solid #eee;
}
header .menu a{
	padding:15px 15px 15px 25px;
}
header .menu li:last-child a{
	border-bottom:none;
}
/* Date */
.date{
	font-size:12px;
}
.date span{
	font-weight:bold;
	color:#565656;
}

.boxed {
  border: 1px solid grey ;
  padding: 5px;
}
div.centered 
{
    text-align: center;
}

div.cen 
{
    text-align: center;
}

