

.topbg{
background-color:gray;
position: absolute;
width:100%;
height:40px;
top:0px;
margin:0px;
right:0px;
}

.logo{
position:absolute;
left:11%;
top:55px;

}

.ban{
position:absolute;
width:100%;
top:200px;
right:0px;
background-image:url('ban.png');
background-repeat:repeat-x;

}

.mail{
position:absolute;
left:76%;
top:110px;
}

.twitter{
position:absolute;
left:80%;
top:110px;
}

.facebook{
position:absolute;
left:84%;
top:110px;
}

.topper{
background-color:616161;
position: relative;
width:1030px;
height:20px;
top:192px;
margin-left:auto;
margin-right:auto;

}
.main{
background-color:D3D3D3;
position:relative;
width:1030px;
height:600px;
top:176px;
margin-left:auto;
margin-right:auto;

 
}
.lower_banner{
background-color:black;
position: absolute;
width:100%;
height:170px;
top:800px;
margin:0px;
right:0px;



}
.footer{
position:absolute;
left:73%;
top:0px;
}

.menu{
position 

}

.content{

background-color:white;
position: absolute;
width:730px;
height:492px;
top:70px;
right:20px;


}

.nav{
position:absolute;
width:300px;
height:270px;
background-color:magenta;
left:40px;
top:70px;
font-family: Verdana, Tahoma, Helvetica, Arial;
}




#ul
{
list-style-type:none;
margin:0;
padding:0;
}




#a1:link,#a1:visited,#selected
{
display:block;

color:#FFFFFF;

width:300px;
text-align:left;
padding:13px;
text-decoration:none;

background-image:url('booking_components/button.png');
}
#a1:hover,#a1:active,#selected
{
color:red;
background-color:white;
background-image:url('booking_components/blank.png');
}






#a2:link,#a2:visited
{
display:block;

color:#FFFFFF;

width:300px;
text-align:left;
padding:13px;
text-decoration:none;

background-image:url('booking_components/button.png');
}
#a2:hover,#a2:active
{
color:red;
background-color:white;
background-image:url('booking_components/blank.png');
}





#a3:link,#a3:visited
{
display:block;

color:#FFFFFF;

width:300px;
text-align:left;
padding:13px;
text-decoration:none;

background-image:url('booking_components/button.png');
}
#a3:hover,#a3:active
{
color:red;
background-color:white;
background-image:url('booking_components/blank.png');
}




#a4:link,#a4:visited
{
display:block;

color:#FFFFFF;

width:300px;
text-align:left;
padding:13px;
text-decoration:none;

background-image:url('booking_components/button.png');
}
#a4:hover,#a4:active
{
color:red;
background-color:white;
background-image:url('booking_components/blank.png');
}







#a5:link,#a5:visited
{
display:block;

color:#FFFFFF;

width:300px;
text-align:left;
padding:13px;
text-decoration:none;

background-image:url('booking_components/button.png');
}
#a5:hover,#a5:active
{
color:red;
background-color:white;
background-image:url('booking_components/blank.png');
}



#a6:link,#a6:visited
{
display:block;

color:#FFFFFF;

width:300px;
text-align:left;
padding:13px;
text-decoration:none;

background-image:url('booking_components/button.png');
}
#a6:hover,#a6:active
{
color:red;
background-color:white;
background-image:url('booking_components/blank.png');
}



.form
{

position:absolute;
width:650px;
height:270px;
left:30px;
top:30px;
font-family: Verdana, Tahoma, Helvetica, Arial;



}


.inputtext {
 width: 350px; 
 height: 30px; 
 }

input[type="submit"]
{
display:block;

color:#FFFFFF;
height:40px;
width:180px;
text-align:center;

text-decoration:none;

background-image:url('booking_components/search.png');

}


input[type="submitt"]
{
display:block;

color:#FFFFFF;
height:40px;
width:180px;
text-align:center;

font-size:20px;

background-image:url('booking_components/button.png');

}




.table_div {

position:absolute;
width:100%;
left:40px;
right:100px;
top:30px;
font-family: Verdana, Tahoma, Helvetica, Arial;
text-align:left;
}


.table_seat {

position:absolute;
width:500px;
left:40px;
right:100px;
top:30px;
font-family: Verdana, Tahoma, Helvetica, Arial;
text-align:left;
}



.table {

position:absolute;
width:650px;
font-family: Verdana, Tahoma, Helvetica, Arial;
text-align:left;

}



.table_title{
font-family: Verdana, Tahoma, Helvetica, Arial;
text-align:left;
size:4;
}

tr{
border-bottom-style:dotted;
}

td
{
height:50px;
vertical-align:bottom;
border-bottom-style:dotted;
}


#a7:link,#a7:visited
{
display:block;
width:37px;
height:39px;
background-image:url('booking_components/select.png');
}
#a7:hover,#a7:active{
background-image:url('booking_components/selected.png');
}







