@charset "utf-8";
/* CSS Document */



#topbg{
background-color:gray;
position: absolute;
width:100%;
height:40px;
top:0px;
margin:0px;
right:0px;
}
#bottom{
	background-color:black;
position: absolute;
width:100%;
height:60px;

margin:0px;
right:0px;
	}
	
	
#menus{
background-color:white;
border:1px solid black;
	
	

width:100%;
height:60px;
margin-bottom:30px;
margin:0px;
right:0px;
	}

#theater{
padding:10px;
padding-top:170px;
height:400px;
width:1025px;
margin-left: auto;
margin-right: auto;
font-family:Arial,Helvetica,sans-serif;

	
	
}

#back{
	
	margin-top:30px;
	margin: 0 auto;
        
	background-image:url(back.jpg);
	background-repeat:no-repeat;
	




	}

#left_side{
	padding-top:10px;
	padding-left:40px;
	

	float:left;
	/* Rotate div */
transform:rotate(30deg);
-ms-transform:rotate(30deg); /* IE 9 */
-moz-transform:rotate(30deg); /* Firefox */
-webkit-transform:rotate(30deg); /* Safari and Chrome */
-o-transform:rotate(30deg); /* Opera */
}



#right_side{
	padding-top:50px;
	padding-right:40px;
	float:right;
	transform:rotate(-30deg);
-ms-transform:rotate(-30deg); /* IE 9 */
-moz-transform:rotate(-30deg); /* Firefox */
-webkit-transform:rotate(-30deg); /* Safari and Chrome */
-o-transform:rotate(-30deg); /* Opera */
	
}
#centa{
	
	margin-top:40px;
	padding-top:50px;
	padding-right:40px;
	float:right;

	}
	#tabb{ 
	text-align:center;
	border: 0px solid white;
	border-collapse:collapse;
		}
		
	#seat_empty{
			
			
			
			
			}
			#seat_occupied{
				width:20px;
				color:white;
                 background: gray
				 
				}
				
				
				//////////////////////////////////////////////////////
.seatlinks {
float:left;
}
.seatlinks a:link, .seatlinks a:visited {
text-decoration: none;
border: 1px solid #222222;
background: white;
width: 20px;
display:block;
color: black;
float:left;
text-align:center;
}

.seatlinks a:hover{
color:white;
background: gray;
border: 1px solid gray;
}

#display{
	float:left;
	z-index:auto;
    margin-top:20px;
	width:280px;
	height:60px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	border:0px solid black;
	
}

#display_r{
	float:right;
	z-index:auto;
    margin-top:20px;
	width:200px;
	height:100px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:16px;
	border:0px solid black;
	padding:10px;
	background:#CCC;
	
}

#display_r_no_bg{
	float:right;
	z-index:auto;
    margin-top:20px;
	width:200px;
	height:100px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	border:0px solid black;
	
}
	
	
	
	#back #display table tr td u {
	font-family: Verdana, Geneva, sans-serif;
}
#back #display table tr td {
	font-family: Verdana, Geneva, sans-serif;
}
#seat{
	}
	
	#seat a:hover{
		color:#F00;
	}
	#seat a:active{
		color:purple;
	}
	

#left{
	float:right;
	
	}
	
	#seat_aval{
		background:#9F0;
		
		}
		
		
		#seat_aval:hover{
		background:#093;
		color:#FFF;
		
		}
		
		
#a{
	background:#F36;}

	input[type="submit"]
{
display:block;


height:40px;
width:180px;
text-align:center;
margin-left:1000px;
text-decoration:none;
margin-bottom:10px;





}
